<html>
    <head>
        {% include "blocks/head.html" %}
    </head>
    <body>
        {% include "blocks/header.html" %}
        <div class="container sections-wrapper">
            <div class="row">
                <div class="primary col-md-8 col-sm-12 col-xs-12">
                    {% include "blocks/list_post.html" %}
                    {% include "blocks/list_post2.html" %}
                    {% include "blocks/list_post3.html" %}
                </div>
                <div class="secondary col-md-4 col-sm-12 col-xs-12">
                    {% include "blocks/widget/widget1.html" %}
                    {% include "blocks/widget/widget7.html" %}
                </div>
            </div>
        </div>
        {% include 'blocks/footer.html' %}
    </body>
</html>